{% extends "base.html" %}

{% block body %}
  {% if books %}
    <ol>
      {% for book in books %}
      <li>
        <a href="{{ book.book_page}}">{{ book.book_title }}</a>
      </li>
      <img src="{{ book.book_pic }}" alt="image for {{ book.book_title }}">
      <div class="form-container">
        <form action="{{ url_for('like') }}" method="POST">
          {{ like_form.csrf_token() }}
          {{ like_form.like.label }}
          {{ like_form.like }}
          {{ like_form.submit }}
        </form>
      </div>
      {% endfor %}
    </ol>
  {% endif %}
{% endblock %}
      