{% extends "base.html" %}


{% block body %}
<div class="login-in-form">
    <p>Log In:</p>
    <form class="login" action="/login" method="POST">
        {{ login_form.csrf_token() }}
        {{ login_form.username.label(class="home-text") }}<br>
        {{ login_form.username(class="home-field") }}<br><br>
        {{ login_form.password.label(class="home-text") }}<br>
        {{ login_form.password(class="home-field") }}<br><br>
        {{ login_form.submit(value="Log In", class="btn-submit") }}
    </form><br>

    <form class="logout-button" action="/logout">
        <button class="btn-logout" type="submit">Log Out</button>
    </form><br>

    <form>
        {% for message in get_flashed_messages() %}
        <p class="flash" id="log">{{ message.title() }}</p>
        {% endfor %}
    </form>
</div>
{% endblock %}